body
{
  padding: 50px 0 0 0;
  margin-bottom: 0;
}

h1
{
  font-family: 'Satisfy', cursive;
  color:#ff827b;
  margin: 5px 0 5px 0;
  font-size: 25px;
}

.navbar
{

  background-color: #FFF;
  width: 100%;
  border: none;
  margin-bottom: 0;
  min-height: 50px;
}

.navbar-toggle
{
  border: 2px solid #f37979;
  font-weight: bold;
  color: #f37979;
  font-size: 15px;

}

.navbar-toggle:hover
{
  background-color: #ffffff;

}

.navbar button
{
  margin: 3px 0;
  padding: 10px;
}

.navbar a
{
  text-decoration: none;
}

.navbar ul
{
  margin: 0;
}

.navbar .container
{
  padding: 0;
}

.navbar img
{
  padding-left: 25px;
}

.jumbotron
{
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 20em;
  margin-bottom: 25px;
  padding-top: 30px;

}

.jumbotron p
{
  color:#fff;
  text-align: center;
}

.row-margin
{
  margin-bottom: 50px;
}

.dog-bowl, .cat-toy, .parrot-stuff
{
  display: block;
  background-color: #edf1f4;
  min-height: 325px;
  border: 3px solid #fcfcfc;
  border-radius: 10px;

}

.product-info
{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.dog
{
  padding: 0;
}

.cat
{
  padding: 0;
}

.parrot
{
  padding: 0;
}

.dog-bowl img, .cat-toy img, .parrot-stuff img
{
  display: block;
  margin: auto;
  margin-top: 1em;
}

.serv
{
  text-align: center;
}


.foot
{
  margin-right: 10px;
  border-right: 1px solid #666;
  min-height: 100px;
}

#logo img
{
  display: block;
  margin: auto;
  margin-top: 10px;
}

footer
{
  padding-top: 2%;
  background-color:#231f20;
}

footer a
{
  color: #999;
  text-decoration: none;
}

footer a:hover, footer a:visited
{
  color:#999;
  text-decoration: none;
}

.info
{
  padding-top: 10px;
  color: #999;
}

.copy
{
  text-align: center;
  color:#666;
  margin-bottom: 0;
}
